# Android Studio
.gradle/
.idea/
*.iml

# Build
build/
app/build/

# Local
local.properties

# Keystore
*.jks
*.keystore

# Logs
*.log

# Firebase
google-services.json

# Python
__pycache__/
*.pyc
*.pyo
pyrefly.toml